html, body {
  height: 100vh;
  width: 100vw;
}

form{
    margin:0px;
    padding:0px;
}

.bg-yellow1 {
  background-color: #FFDF16;
}

.bg-gold {
  background-color: #F8C400;
}

.bg-maroon1 {
  background-color: #8C383E;
}

.bg-grey {
  background-color: #EBEBEB;
}

.bg-yellow2 {
  background-color: #DCC532;
}

.bg-dark-yellow {
  background-color: #F8C400;
}

.bg-maroon2 {
  background-color: #781B1B;
}

.bg-dark-maroon {
  background-color: #610A0C;
}

.color-yellow1 {
  color: #FFDF16;
}

.color-gold {
  color: #F8C400;
}

.color-maroon1 {
  color: #8C383E;
}

.color-grey {
  color: #EBEBEB;
}

.color-yellow2 {
  color: #DCC532;
}

.color-dark-yellow {
  color: #AA8F0B;
}

.color-maroon2 {
  color: #781B1B;
}

.color-dark-maroon {
  color: #610A0C;
}

.rounded {
  border-radius: 30px !important;
}

.left-sidebar{
    height: 100%;
    width: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    border-right: solid lightgray 2px;
}

.lef-sidebar > img{
    width: 30%;
    height: 4%;
    padding-left: 2px;
}

.sidebarImg{
  width: 75px;
}

.header{
  padding: 10px 20px;
  width: 100%;
  box-shadow: 0px 1px lightgrey;
  justify-content: space-around;
  margin: 0px;
}

.search{
  border: 1px solid lightgrey;
  border-radius: 5px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  padding: 0px 5px;
}

.search > *{
  color: lightgrey;
}

.search > svg{
  padding-right: 5px;
}

.search > input{
    width: 92%;
    border: none;
}

.search > input:focus{
  outline: none;
  color: black;
}

.search > input:focus + svg{
  color: black;
}

.btn-group{
    float: right;
    width: 100%;
}

.main-container{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.btn-group{
  align-items: center;
  justify-content: space-between;
  padding: 0px 5px;
}

.btn-group img {
  width: 30px;
}

.btn-group button {
  background-color: transparent !important;
}

.shadow-rounded{
  border-radius: 5%;
  border-right: lightgrey 1px;
  box-shadow: 5px 2px lightgrey;
}

.right-sidebar{
  margin-top: 20px;
  width: 100%;
}

.right-sidebar > h5{
  color: grey;
}

.mentor > img{
  width: 100%;
  height: 100%;
  margin: 5px 0px 0px 0px;
}

.suggestions .subjects{
  flex-wrap: nowrap;
  margin: 5px 0px;
}

.suggestions .subjects > p{
  font-size: 12px;
  color: white;
  margin: 3px 2px;
  max-width: 70px;
}

.suggestions .card-footer{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-size: 12px;
}

.suggestions .card-footer > span{
  color: grey;
}

.calendar{
  margin-top: 10px;
  height: 250px;
}

#fullDiv {
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: hidden; 
  color: #8C383E;
}

#fullDiv ul {
  margin: 0;
  padding: 0;
}

#fullDiv li {
  float: left;
  display: block;
  width: 14.2857%;
  text-align: center;
  list-style-type: none;
}

#fullDiv li:nth-child(n+1):nth-child(-n+7) {
  font-weight: 900;
  color: #8C383E;
}

#fullDiv li:nth-child(n+39), #fullDiv li:nth-child(n+8):nth-child(-n+16) {
  font-weight: 900;
  color: rgba(0,0,0,.3);
}

#fullDiv li:hover:nth-child(n+8):nth-child(-n+38), #fullDiv li:nth-child(17){
  border-radius: 10%;
  background-color: #F8C400;
  color: #fff;
}

.becomeMentor button{
  color: #F8C400;
  background-color: #8C383E;
  width: 100%;
  height: 40px;
}