{% extends 'components/base.html' %}

{% load static %}

{% block title %}
    <title>TutorMe</title>
{% endblock %}

{% block pageCSS %}
    <style type="text/css">
        .center-component{
            height: 89vh;
            width: 80%;
            position: relative;
            overflow-y: scroll;
        }
        .notes-table{
            width: 100%;
            padding: 2%;
            margin-top: 1%;
            border-top-right-radius: 5%;
            border-right: lightgrey 1px;
            box-shadow: 5px 2px lightgrey;
            border-bottom-right-radius: 5%;
            color: #FFF;
        }
        .notes-container{
            display: flex;
            flex-direction: column;
            padding: 1.5% 1.5% 5px 1.5%;
            background-color: skyblue;
            border-left: solid blue 5px;
            border-radius: 0px 10px 10px 0px;
        }
        .notes-header{
            display: flex;
            justify-content: space-between;
        }

        .notes-container:hover {
            opacity: 0.6;
            filter: alpha(opacity=60);
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block pageBody %}
    <div class="main-container">
        {% include 'components/navigation.html' %}
        <span style="z-index: 100">
        {% include 'components/Chatbot.html' %}
        </span>

        <div class="body-container col">
            {% include 'components/header.html' %}
            <div class="row">
                <div class="center-component col-9">
                    <div class="notes-table">

                        {% if users %}
                        {% for u in users %}
                        <div class="notes-container" id='{{u.id}}' style="background-color: #4565EC; border-left-color: #eee;"
                            onClick="onChoose('{{u.id}}')"
                        >
                            <div class="notes-details">

                                <div class="detail-nm" style="display: flex; align-items: center; padding: 8px 0;">
                                    <img src="{% static '/assets/icons/jhosie.png' %}" class="rounded-circle"
                                            alt="avatar image">
                                    <p style="padding: 0px 0px 0px 10px; font-size: larger;">
                                        <i>{{u.first_name}} {{u.last_name}}</i> 
                                    </p>
                                </div>
                            </div>
                        </div>
                        <br>

                        {% endfor %}
                        {% else %}

                        <div style="background-color: #4565EC; border-left-color: #781B1B;">
                            <div class="notes-details">

                                <div class="detail-nm" style="display: flex; align-items: center; padding-top: 8px;">
                                    <p style="padding: 0px 0px 0px 10px; font-size: larger;">
                                        <i>No messages</i> 
                                    </p>
                                </div>
                            </div>
                        </div>
                        <br>
                        {% endif %}

                    </div>
                </div>
                {% include "components/sidebar.html" %}
        </div>
    </div>
</div>
{% endblock %}

{% block pageJS %}
    <script type="text/javascript">
        function onChoose(id) {
            console.log(id);
            window.location.replace("/messaging?id="+id);
        }
    </script>
{% endblock %}