{% extends "components/base.html" %}
{% load static %}


{% block title %}<title>TutorMe</title>{% endblock %}

{% block pageCSS %}
<style type="text/css">
    .main-content {
        height: 100%;
        width: 100%;
    }

    .suggestions .row3 h6{
        float: left;
    }
    .center-component{
        height: 89vh;
        width: 80%;
        position: relative;
        overflow-y: scroll;
    }
    .notes-table{
        width: 100%;
        padding: 2%;
        margin-top: 1%;
        border-top-right-radius: 5%;
        border-right: lightgrey 1px;
        box-shadow: 5px 2px lightgrey;
        border-bottom-right-radius: 5%;
    }
    .notes-container{
        display: flex;
        flex-direction: column;
        padding: 1.5% 1.5% 5px 1.5%;
        border-bottom: 1px solid grey;
    }
    .notes-header{
        display: flex;
        justify-content: space-between;
    }

    .empty{
        color: white;
        background-color: white;
    }
    .bg-maroon{
        background-color: #FF565D;
        border-left: solid #FFA848 5px;
    }

    .bg-yellow{
        background-color: #FFA848;
    }

    .bg-default{
        background-color: skyblue;
        border-left: solid blue 5px;
    }
</style>
{% endblock %}

{% block pageBody %}

    <div class="main-container row">
        {% include 'components/navigation.html' %}

        <div class="body-container col-11   ">
            {% include 'components/header.html' %}
            <div class="row">
                <div class="center-component col-9">
                    <div class="notes-table">
                        {% for n in notes %}
                        <div class="notes-container {% if n.subjectID.subjectName == 'Special Topics in Mathematics' %} bg-maroon {% else %} bg-default {% endif %}">
                            <input type="text" name="notes_id" id="notes_id" value="{{n.id}}" hidden>
                            <div class="notes-header">
                                <h5>{{n.notesTitle}}</h5>
                            </div>
                            <div class="notes-details">
                                <div class="detail-subj" style="display: flex; padding-top: 8px;">
                                    <p>{{n.notes}}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <!-- <div class="notes-container" style="background-color: #FFA848; border-left-color: #FF8600;">
                            <div class="notes-header">
                                <h5>Gen Math Vid</h5>
                            </div>
                            <div class="notes-details">
                                <div class="detail-subj" style="display: flex; padding-top: 8px;">
                                    <p>https://www.youtube.com/watch?v=dQw4w9WgXcQ</p>
                                </div>
                            </div>
                        </div>
                        <div class="notes-container empty" style="background-color: #fff; border-left-color: #fff;">
                            <div class="notes-header">
                                <h5>October 24</h5>
                            </div>
                            <div class="notes-details">
                                <div class="detail-subj" style="display: flex; padding-top: 8px;">
                                    <p>Intelligent Systems</p>
                                </div>
                            </div>
                        </div>
                        <div class="notes-container empty" style="background-color: #fff; border-left-color: #fff;">
                            <div class="notes-header">
                                <h5>October 24</h5>
                            </div>
                            <div class="notes-details">
                                <div class="detail-subj" style="display: flex; padding-top: 8px;">
                                    <p>Intelligent Systems</p>
                                </div>
                            </div>
                        </div>
                        <div class="notes-container empty" style="background-color: #fff; border-left-color: #fff;">
                            <div class="notes-header">
                                <h5>October 24</h5>
                            </div>
                            <div class="notes-details">
                                <div class="detail-subj" style="display: flex; padding-top: 8px;">
                                    <p>Intelligent Systems</p>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>

                {% include "components/sidebar.html" %}
            </div>
    
        </div>
    </div>

{% endblock %}

{% block pageJS %}
<script type="text/javascript">
    console.log("Login");
</script>
{% endblock %}