{% load static %}

<div class="header row">
    <div class="search col-9">
        <a href="#"><img src="{% static 'assets/icons/filter.png' %}" style="width: 30px; height: 30px;" alt=""></a>
        <input type="text" class="search-bar" id="search-bar" placeholder="Search ..."><i class="fas fa-search"></i>
    </div>
    <div class="btn-group col-3">
        <a class="col-2" href="#"><img src="{% static 'assets/icons/bell.png' %}"></a>

        <button type="button" class="btn dropdown-toggle col-10" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 100%;">

            <img src="{% static '/assets/img/pp1.jpg' %}" class="rounded-circle"
              alt="avatar image">

              <span class="col-6">
                  Jennie Ruby Jane
              </span>
        </button>

        <div class="dropdown-menu">
          <a class="dropdown-item" href="{% url 'pages:profile' %}">Profile</a>
          <a class="dropdown-item" href="{% url 'pages:payment' %}">Payment</a>
          <a class="dropdown-item" href="{% url 'pages:settings' %}">Settings</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'pages:login' %}">Logout</a>
        </div>
    </div>
</div>
