{% load static %}
    <div class="right-sidebar col-3">
       <div class="suggestions" style="margin-top: 20px; border-style: solid; border-color: #ffb10d; border-width: 1px; height: 310px;">

            <p style="margin-top: 5px; font-size: medium; font-weight: normal;">SUGGESTED TUTOR</p>
          
            <div class="col" style="text-align: center;">

                <img src="{% static '/assets/img/pp2.jpg' %}" class="rounded-circle z-depth-0"
                            alt="avatar image" style="width: 40px; height: 40px; margin-right: 5px;">
                <p style="font-size: small; font-weight: bolder;">Lalalisa Manoban</p>
                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>

            </div>

            <div class="col" style="text-align: center; line-height: -2px;">

                <p  style="background-color: #ffb10d;">
                    Math
                </p>

                <p style="background-color: #ffb10d;">
                    Science
                </p>

                <p  style="background-color: #ffb10d;">
                    History
                </p>

            </div>

            <div class="row" style="padding: 0px 5px;">

                <h6 class="col-6">Rate</h6>

                <div class="rate col-6" style="text-align: right;">
                    <h6>150/hr</h6>
                </div>

            </div>

        </div>

        <div class="calendar" style="margin-top: 22px;" style="border-style: solid; border-color: #ffb10d; border-width: 1px;">

            <div class="calendar-content" style="max-width: 18rem;">
                <h5 class="card-title">CALENDAR</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>

        </div>

        <div class="becomeMentor" style="margin-top: 30px;">
            <button type="button" class="btn btn-outline-primary" style="width: 100%;">Become a Mentor</button>
        </div>
    </div>
</div>